venv
.idea
__pycache__
./Joaquin/venv
./Luis/venv
./Luis/.idea
./Luis/__pycache__
./Joaquin/.idea
./Joaquin/__pycache__
./Produccion/venv
./Produccion/.idea
./Produccion/__pycache__
./Produccion/main.spec
./Produccion/dist
./Produccion/build
./Produccion/output



